@model DLL.DTO.LopHocDTO
@{

}
<div class="row">
	<div class="col-mb-8 mx-auto rounded border p-3">
		<h2 class="text-center mb-5">
			Tạo lớp mới
		</h2>
		<form method="post" enctype="multipart/form-data">
			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Tên lớp</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="TenLop" />
					<span asp-validation-for="TenLop" class="text-danger"></span>
				</div>
			</div>
			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Khối lớp</label>
				<div class="col-sm-8">
					<input class="form-control" type="number" asp-for="KhoiLop" />
					<span asp-validation-for="KhoiLop" class="text-danger"></span>
				</div>
			</div>
			<div class="row">
				<div class="offset-sm-4 col-sm-4 d-grid">
					<button type="submit" class="btn btn-primary">Tạo mới</button>
				</div>
				<div>
					<a class="btn btn-outline-primary" asp-controller="LopHoc" asp-action="Index" role="button">Hủy bỏ</a>
				</div>
			</div>
		</form>
</div>
</div>