@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a class="nav-link" asp-controller="LopHoc" asp-action="Index">
    <div class="sb-nav-link-icon"><i class="fas fa-school"></i></div>
    Lớp học
</a>
<a class="nav-link" asp-controller="MonHoc" asp-action="Index">
    <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
    Môn học
</a>
<a class="nav-link" asp-controller="Diem" asp-action="Index">
    <div class="sb-nav-link-icon"><i class="fas fa-graduation-cap"></i></div>
    Điểm
</a>
<a class="nav-link" asp-controller="HocSinh" asp-action="Index">
    <div class="sb-nav-link-icon"><i class="fas fa-graduation-cap"></i></div>
    Học sinh
</a>
